.container{
text-align: center;
height: 50%;
width: 50%;
margin: auto;
background-color:blanchedalmond

}
.form{ 
    text-align: center;
    display: inline;

}
input{
    margin-top: 10px;
    display:inline-block;
    
}